*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    
    header{
        width: 100%;
        height: 80px;
        line-height: 80px;
    }
    
    .container1{
        width: 100%;
        height: 100%;
        
    }
    
    .float-left{
     float: left;
    }
     
    img{
        vertical-align: middle;
    }
    
    header .main-nav li{
        display: inline-block;
        margin-right: 20px;
        
    }
    
    .main-nav{
        width: calc(100% - 214px);
        text-align: center;
    }
    
    button{
        border-radius: 25px;
        padding: 10px;
        margin-right: 15px;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    .contenitore-sez-1{
        
        width: 90%;
        height: inherit;
        max-width: 1180px;
        margin: 0 auto;
    }
    .principale{
        width: 100%;
        height: 62vh;
        background-image: url(../img/jumbo.png);
        
        background-size: cover;
    }
    
    .jumbatron{
       width: 100%;
       height: 50vh;
       color: white;
       border-top: 25px;
       position: relative;
    }
    
    .testo{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 50px;
        text-align: center;
    
    }

    .titolo{
        margin-bottom: 10%;
    }
    .descrizione{
        margin-bottom: 15%;
    }
   
    
    .open{
        background-color: black;
        color: white;
    }
    
    .principale2
    {
        width: 100%;
        height: 62vh;
    }
    
    .contenitore-sez-2{
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
    }
    
    .immagine2{
        width: 55%;
        height: 100%;
        float: left;
    }
    .testo2 {
        width: 45%;
        height: 100%;
        position: relative;
        float: left;
    }
    .text{
        position: absolute;
        top: 8%;
        left: 20%;
    }
    .principale3{
        width: 100%;
        height: 62vh;
        
    }
    .contenitore-sez-3{
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
        
    }
    .testo3{
        width: 45%;
        height: 100%;
        position: relative;
        float: left;
        
    }
    .immagine3{
        width: 55%;
        height: 100%;
        float: left;
    }
    
    .principale4
    {
        width: 100%;
        height: 62vh;
    }
    
    .contenitore-sez-4{
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
    }
    
    .immagine4{
        width: 55%;
        height: 100%;
        float: left;
    }
    .testo4 {
        width: 45%;
        height: 100%;
        position: relative;
        float: left;
    }
    
    .principale5{
        width: 100%;
        height: 85vh;
        background-color: brown;
    }

    .contenitore-sez-5{
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
        background-color: chocolate;
    }
    .titolo{
        text-align: center;
    }
    
    
    
    
    
    
    