*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    body{
        font-family: "whitney", sans-serif;
    }
    
    header{
        width: 100%;
        height: 80px;
        line-height: 80px;
    }
    
    .container1{
        width: 100%;
        height: 100%;
        
    }
    
    .float-left{
     float: left;
    }
    .float-right{
        float: right;
    }
     
    img{
        vertical-align: middle;
    }
    
    header .main-nav li{
        display: inline-block;
        margin-right: 20px;
        
    }
    
    .main-nav{
        width: calc(100% - 214px);
        text-align: center;
    }
    
    button{
        border-radius: 30px;
        padding: 10px;
        margin-right: 15px;
        font-size: 1em;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    .contenitore-sez-1{
        
        width: 90%;
        height: inherit;
        max-width: 1180px;
        margin: 0 auto;
    }
    .principale{
        width: 100%;
        height: 62vh;
        background-image: url(../img/jumbo.png);
        
        background-size: cover;
    }
    
    .jumbatron{
       width: 100%;
       height: 50vh;
       color: white;
       border-top: 25px;
       position: relative;
    }
    
    .testo{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 50px;
        text-align: center;
    
    }

    .titolo{
        margin-bottom: 10%;
        font-size: 3em;
    }
    .descrizione{
        margin-bottom: 5%;
        font-size: 1.5em;
    }
   
    
    .open{
        background-color: black;
        color: white;
    }
    
    .principale2
    {
        width: 100%;
        height: 62vh;
    }
    
    .contenitore-sez-2{
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
    }
    
    .immagine2{
        width: 55%;
        height: 100%;
        float: left;
    }
    .testo2 {
        width: 45%;
        height: 100%;
        position: relative;
        float: left;
    }
    .text{
        position: absolute;
        top: 8%;
        left: 20%;
    }
    .principale3{
        width: 100%;
        height: 62vh;
        
    }
    .contenitore-sez-3{
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
        
    }
    .testo3{
        width: 45%;
        height: 100%;
        position: relative;
        float: left;
        
    }
    .immagine3{
        width: 55%;
        height: 100%;
        float: left;
    }
    
    .principale4
    {
        width: 100%;
        height: 62vh;
    }
    
    .contenitore-sez-4{
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
    }
    
    .immagine4{
        width: 55%;
        height: 100%;
        float: left;
    }
    .testo4 {
        width: 45%;
        height: 100%;
        position: relative;
        float: left;
    }
    
    .principale5{
        width: 100%;
        height: 100vh;
        
    }

    .contenitore-sez-5{
        text-align: center;
        width: 90%;
        height: inherit;
        max-width: 1180px;  
        margin: 0 auto;
       
    }
    .titolo{
        text-align: center;
    }
    
    .Footer-nav{
        margin-top: 5rem;
        padding: 80px 0;
        width: 100%;
        height: 62vh;
        background-color:#23272a ; 
    }
    .text-light-blu{
        color: #8ea1e1;
    }
    section#footer-top h4{
        font-size: 1.6rem;
    }
    section#footer-top h5{
        font-size: 1em;
        margin: 0%;
        line-height: 1.5rem;
    }
    section#footer-top nav ul li a{
        color: white;
        text-decoration: none;
    }
    section#footer-top nav ul li a:hover,
    section#footer-top nav ul li a:active{
          text-decoration: underline;
    }
    section#footer-top nav ul li {
        list-style-type: none;
        line-height: 1.5rem;
        font-size: .8rem;
    }
    section#footer-top .main-col{
        width: 25%;
        margin-left: 5rem;
    }
    section#footer-top .small-footer-col{
        width: calc(70% / 4);
    }
    #language img{
        height: 1rem;
        vertical-align: middle;

    }
    #social{
        margin-top: 1rem;
    }
    #social a{
        margin-right: 1rem;
    }
    section#footer-top a{
        color: white;
        text-decoration: none;

    }
    section#footer-top{
        border-bottom:#8ea1e1 1px solid;
        padding-bottom: 1rem;
        
    }
    section#footer-bottom{
        padding-top: 5%;
    }
    .Sign-in{
        background-color: rgb(141, 173, 231);
        color: white;
    }
    
    
    
    
    
    